<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971080238211-ku2971lrnio3747ncgh6f67kfqbetqjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971080238211-ku2971lrnio3747ncgh6f67kfqbetqjn</string>
	<key>API_KEY</key>
	<string>AIzaSyACrAInjRcWBq7vVWjCdFKd19UQooG14fg</string>
	<key>GCM_SENDER_ID</key>
	<string>971080238211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathan.tatooconnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-fire-instagram-c-1b81d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fire-instagram-c-1b81d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971080238211:ios:fd34bdd6f6bd732fc2c7b6</string>
</dict>
</plist>